{#- Generates: 'comp_target<...>' -#}
{%- macro mk_comp_target(t) -%}
    comp_target<gen::{{ t.gen }}, target_arch::{{ t.arch }}, gpu::{{ t.gpu }}, rep::{{ t.rep }}>
{%- endmacro -%}

{#- Generates: 'rocprim::is_floating_point<T>' or '!rocprim::is_floating_point<T>' -#}
{%- macro mk_is_fp_type_check(type) -%}
    {{- '(' -}}
    {%- if not type.is_floating -%}
        {{- '!' -}}
    {%- endif -%}
    rocprim::is_floating_point<{{ type.name }}>::value
    {{- ')' -}}
{%- endmacro -%}

{#- Generates: '(sizeof(t) <= X) && (sizeof(t) > Y)' -#}
{%- macro mk_type_sz_check(t) -%}
    {%- if t.size_min > 0 -%}
        {#- sizeof(t) > size_min -#}
        (sizeof({{ t.name }}) > {{ t.size_min }})
        {{- ' && ' -}}
    {%- endif -%}
    {#- sizeof(t) <= size -#}
    (sizeof({{ t.name }}) <= {{ t.size }})
{%- endmacro -%}

{#- Generates: 'std::is_same_v<T, rocprim::empty_type>' -#}
{%- macro mk_is_empty_type_check(t) -%}
    std::is_same_v<{{ t.name }}, rocprim::empty_type>
{%- endmacro -%}

{#- Generates compound type-level guard -#}
{%- macro mk_kv_type_check(config) -%}
    {#- rocprim::is_floating_point<... -#}
    {{ mk_is_fp_type_check(config.key_type) }}
    {{- ' && '-}}
    {#- sizeof(key_type) < ... -#}
    {{ mk_type_sz_check(config.key_type) }}
    {{- ' && ' -}}
    {%- if config.value_type.type == 'empty_type' -%}
        {#- std::is_same_v<..., rocprim::empty_type> -#}
        ({{ mk_is_empty_type_check(config.value_type) }})
    {%- else -%}
        {#- sizeof(value_type) < ... -#}
        {{ mk_type_sz_check(config.value_type) }}
        {%- if config.value_type.size_min == 0 -%}
            {{- ' && ' -}}
            (!{{ mk_is_empty_type_check(config.value_type) }})
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{#- Generates the symbol name of the function that return the config 
    for a target. -#}
{%- macro mk_target_symbol() -%}
{{ alg_short_name }}_config_picker
{%- endmacro -%}

{#- Generates a target-guarded function that returns a config. -#}
{%- macro mk_target_function(target, is_generic=False) -%}
{#- Create an easily parsable tag for the current target. -#}
// TARGET: {'gen': '{{ target.gen }}', 'arch': '{{ target.arch }}', 'gpu': '{{ target.gpu }}', 'rep': '{{ target.rep }}'}
{#- Generate the template signature. #}
{% if is_generic -%}
    {#- For generic-fallback we can just use variadic templates. This
        saves us from having to unpack the available types. -#}
    template<class Target, class... Args>
{%- else -%}
    {#- Expose the type parameters as a block so they can be easily 
        overridden. -#}
    {%- block target_tparams -%}
    template<class Target, class key_type, class value_type>
    {%- endblock -%}
{%- endif -%}
{#- Generate the symbol and return type. #}
constexpr auto {{ mk_target_symbol() }}{{ '() -> ' -}}
{%- block target_guard scoped %}
    std::enable_if_t<std::is_same_v<Target, {{ mk_comp_target(target) }}>, {% block params_type -%}{{ alg_short_name }}_config_params{% endblock -%}>
{% endblock -%}
{#- Inject the content of the call-block that invoked this macro. -#}
{{ '{' }}{{ caller() }}{{ '}' }}
{%- endmacro -%}

// Copyright (c) {{year}} Advanced Micro Devices, Inc. All rights reserved.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

{% block header_guard_pre -%}
#ifndef ROCPRIM_DEVICE_DETAIL_CONFIG_{{alg_name|upper}}_HPP_
#define ROCPRIM_DEVICE_DETAIL_CONFIG_{{alg_name|upper}}_HPP_
{%- endblock %}

{% block header_includes -%}
#include "../../../config.hpp"
#include "../../../type_traits.hpp"
#include "../../config_types.hpp"
#include "../device_config_helper.hpp"

#include <type_traits>
{%- endblock %}

{% block generated_file_warning -%}
/* DO NOT EDIT THIS FILE
 * This file is automatically generated by `/tuning/generate.py`.
 */
{%- endblock %}

/// \addtogroup primitivesmodule_deviceconfigs
/// @{

BEGIN_ROCPRIM_NAMESPACE

namespace detail
{{ '{' -}}
{#- Iterate over all targets.
    Generates: constexpr auto ..._config_picker() -> std::enable_if_t<...> { ... } -#}
{%- for target, configs in targets.items() -%}
{%- set target = dict(target) %}
{% call mk_target_function(target) -%}
    {%- for _, descriptor in configs.items() -%}
    {%- set config = descriptor.config -%}
    {%- set type = descriptor.type %}
    // CONFIG: {{ config }}
    if constexpr({% block config_guard scoped %}{{ mk_kv_type_check(type) }}{% endblock %})
    {
        return {% block config_constructor scoped required -%}{%- endblock -%};
    }
    {%- endfor %}
    // Default case if none of the conditions match
    return {% block config_base_type -%}{{ alg_short_name }}_config_params_base<key_type, value_type>{%- endblock -%}();
{% endcall %}
{% endfor %}
{# Provide an alias to the default target.
   Generates: constexpr auto ..._config_picker() -> std::enable_if_t<...> { ... } -#}
{%- call mk_target_function(unknown_target, True) %}
    return {{ mk_target_symbol() }}
    {{- '<' -}}
    {{- mk_comp_target(default_target) -}}
    {{- ', Args...>();\n' -}}
{%- endcall %}

{# We need to declare what the default target is if the current target is unknown. 
   Generates: using ..._targets = comp_targets<comp_target<...>, ...>; -#}
// All the existing configs should be auto generated
using {{ alg_short_name }}_targets = comp_targets
{{- '<' -}}
{%- for target, _ in targets.items() %}
    {{ mk_comp_target(dict(target)) }},
{%- endfor %}
    {{ mk_comp_target(unknown_target)}}
{{- '>;' }}

{{ '}' }} // end namespace detail

END_ROCPRIM_NAMESPACE

/// @}
// end of group primitivesmodule_deviceconfigs

{% block header_guard_post -%}
#endif // ROCPRIM_DEVICE_DETAIL_CONFIG_{{alg_name|upper}}_HPP_
{%- endblock %}
