[submodule "fin"]
	path = projects/miopen/fin
	url = https://github.com/ROCm/MIFin.git
	branch = develop

[submodule "HostLibraryTests/googletest"]
	path = shared/tensile/HostLibraryTests/googletest
	url = https://github.com/google/googletest.git
	branch = master

[submodule "third_party/ffts"]
	path = projects/rpp/third_party/ffts
	url = https://github.com/anthonix/ffts.git
